<!DOCTYPE html>
<html>
	<head>
		<title>TuneHub</title>
			<link rel="stylesheet" th:href="@{/CSS/style.css}">
	</head>
	<body>
		<table border>
			<thead>
				<tr>
					<td>Id: </td>
					<td>Name: </td>
					<td>Songs</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pl:${allplaylist}">
					
					<td th:text="${pl.id}"></td>
					<td th:text="${pl.name}"></td>
					<td>
						<ul>
							<li th:each="song: ${pl.song}">
								<span th:text="${song.name}"></span>
								<audio controls>
									<source th:src="${song.link}" type="audio/mp3">
								</audio>
							</li>
						</ul>
					</td>
					
				</tr>
			</tbody>
		</table>
		
	</body>
</html>